<ion-header>
    <ion-toolbar color="primary">
        <ion-button  slot="start" [routerLink]="['/cart']"  routeDirection="backward">
            <ion-icon  name="close"></ion-icon>
          </ion-button>
     
      <!--Must update to save changes first-->
     <ion-button  slot="end" (click)="save()">
        <ion-icon  name="checkmark"></ion-icon>
      </ion-button>
      <ion-title>Discount</ion-title>
    </ion-toolbar>
  </ion-header>
  
  <ion-content>
      <ion-list>
          <ion-radio-group>
            <ion-list-header>
              <ion-label>Discount</ion-label>
            </ion-list-header>
        
            <ion-item disabled>
              <ion-label>Code</ion-label>
              <ion-radio slot="end" value="code" (ionSelect)="setDiscountType(1)" checked></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Cash</ion-label>
              <ion-radio slot="end" value="cash" (ionSelect)="setDiscountType(2)"></ion-radio>
            </ion-item>
        
            <ion-item>
              <ion-label>Percent</ion-label>
              <ion-radio slot="end" value="percent" (ionSelect)="setDiscountType(3)"></ion-radio>
            </ion-item>
          </ion-radio-group>
        </ion-list>
  
        <ion-card>
            <ion-item>
                <ion-label position="floating">Discount</ion-label>
                <ion-input type="number" autofocus [(ngModel)]="discountValue"></ion-input>
              </ion-item>
        </ion-card> 
  
  </ion-content>
  