.item-input{
    
    border:none;
    border-bottom: 1px lightgray solid;
    text-align: center;
    font-size: 25px;
}

.item-contens{
    padding:10px;
}

.bigfont{
    font-size: 22px;
}
.text-center{
    text-align: center;
}