

<ion-content padding>
  <ion-item lines="none">
   <ion-label color="success" >Veto POS</ion-label>
   <ion-img [src]="img" height="200" ></ion-img>
  </ion-item>

    <ion-item>
        <ion-label position="stacked">Company code</ion-label>
        <ion-input required type="text" [(ngModel)]="code" (change)="change()"></ion-input>
      </ion-item>
      <ion-item>
          <ion-label position="stacked">Password</ion-label>
          <ion-input required placleholder="Password" [(ngModel)]="pass" type="password" (change)="change()"></ion-input>
        </ion-item>
        <ion-button expand="block" (click)="_login()">Login</ion-button>

        <ion-item lines="none">
          <ion-label color="danger">{{errMsg}}</ion-label>
        </ion-item>

</ion-content>
 