<ion-header>
  <ion-toolbar color="primary">
      <ion-button slot="end">
          <ion-icon name="sync"></ion-icon>
        </ion-button>
    <ion-title>
      Sales
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-list >
    
       
       <ion-item *ngFor="let item of transactions" (click)="view(item)">
          <ion-header>
              {{item.date}}
            </ion-header>
        <p>#{{item.id}}</p>
        <div slot="end">
            <p>R{{item.subtotal}}</p>
          <p class="smalTxt">{{item.time}}</p>
        </div>
       </ion-item>
     
  </ion-list>
</ion-content>
