
ion-list-header{
    background-color: rgb(243, 243, 243);
    color:gray;
}

.smalTxt{
  font-size: 13px;
  color: rgb(165, 162, 162);
  float: right;
}

div > p{
  margin: 0px;
}

ion-content{
    background-color: rgb(243, 243, 243);
}

ion-item-group > ion-item:last-child{
    border-color: white;
    border:none;


}

