<ion-header>
  <ion-toolbar color="primary">
    <ion-title>
     Store
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>
    <ion-list-header>
      Store options
    </ion-list-header>
    <ion-item lines="none">
       <ion-icon name="person" color="primary" slot="start"></ion-icon>
       <ion-label>Profile</ion-label>
    </ion-item>
    <ion-item lines="none">
        <ion-icon name="settings" color="primary" slot="start"></ion-icon>
        <ion-label>Settings</ion-label>
     </ion-item>
    
     <ion-item lines="none">
        <ion-icon name="help-buoy" color="primary" slot="start"></ion-icon>
        <ion-label>Support</ion-label>
     </ion-item>
     <ion-item lines="none">
        <ion-icon name="download" color="primary" slot="start"></ion-icon>
        <ion-label>Replicate</ion-label>
     </ion-item>
     <ion-item lines="none">
        <ion-icon name="sync" color="primary" slot="start"></ion-icon>
        <ion-label>Sync to server</ion-label>
     </ion-item>
     <ion-item lines="none">
        <ion-icon name="stats" color="primary" slot="start"></ion-icon>
        <ion-label>Management App</ion-label>
     </ion-item>
  </ion-list>
  <ion-card>
    <ion-item lines="none">
      <ion-icon color="danger" name="unlock" slot="start"></ion-icon>
      <ion-label color="danger">Logout</ion-label>
    </ion-item>
  </ion-card>
</ion-content>
