<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/tab1"></ion-back-button>
    </ion-buttons>
    <ion-button  slot="end">
        <ion-icon slot="icon-only" name="trash"></ion-icon>
      </ion-button>
     
    
    <ion-title>cart</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
      
          <ion-item lines="none" *ngFor="let item of _transaction[0].items">
              <ion-icon   slot="end" color = "primary" name="close"></ion-icon>
              <ion-badge [routerLink]="['/edit-item/',item.quantity]" slot="start">{{item.quantity}}</ion-badge>
              <ion-label [routerLink]="['/edit-item/',item.quantity]" >{{item.description}}</ion-label>
              <p [routerLink]="['/edit-item/',item.quantity]" class="ion-float-right">R{{item.quantity * item.price}}</p>
            </ion-item>
          
    </ion-list>
    <ion-card>
        <ion-item lines="none" [routerLink]="['/discount/']">
            <ion-label slot="start" color="primary">Add discout</ion-label>
          </ion-item>
          <ion-item lines="none">
              <ion-label>
              <p class="ion-float-left">Subtotal</p>
              <p class="ion-float-right">R{{_transaction[0].total}}</p>
              </ion-label>
            </ion-item>
          <ion-item lines="none" [routerLink]="['/vat/']">
                <ion-label color="primary">
                <p class="ion-float-left"  disabled color="primary">VAT({{15}}%)</p>
                <p class="ion-float-right">R{{0}}</p>
              </ion-label>
            </ion-item>
      </ion-card>
      <div class="transact_div" [routerLink]="['/payment-method/']"> 
        <div class="total_p">CHARGE R{{_transaction[0].total}}</div>
      </div>
</ion-content>
