<ion-header>
  <ion-toolbar color="primay">
    <ion-title>Order #120</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <p class="ion-text-center">Total</p>
    <h1 class="ion-text-center">R{{316.25}}</h1>
    <ion-grid>
      <ion-row text-center >
        <ion-col text-center >
            <ion-icon  class="ion-text-center bigFont"  color="success" name="checkmark-circle"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
    
    <ion-card>

      <ion-item>
          <ion-icon slot="start" color="success" name="cash"></ion-icon>
          <ion-label>Cash</ion-label>
          <p class="ion-float-right">R{{316.25}}</p>
      </ion-item>
        
    </ion-card>
    <ion-list lines="none">
        <ion-item>
          <ion-label color="primary">Email receipt</ion-label>
        </ion-item>
        <ion-item>
            <ion-label color="primary">Text receipt</ion-label>
          </ion-item>
          <ion-item>
              <ion-label color="primary">Preview receipt</ion-label>
            </ion-item>
            <ion-item>
                <ion-label color="primary">Add note</ion-label>
              </ion-item>
    </ion-list>
    <div class="transact_div" [routerLink]="['/tabs/tab1/']" routerDirection="root"> 
      <!-- this rooting method is a hack- must update soon -->
      <div class="total_p">DONE</div>
    </div>
</ion-content>
