.smalTxt{
    font-size: 8px;
    color: rgb(165, 162, 162);
    float: right;
  }
  
  div.cash-method > p{
    margin: 0px;
  }

  .xsmallTxt{
    font-size: 12px !important;
    float: left;
  }
  