<ion-header>
  <ion-toolbar color="primary">
      <ion-button  slot="start" [routerLink]="['/edit-item/']"  routerDirection="backward">
          <ion-icon  name="close"></ion-icon>
        </ion-button>
   
    <!--Must update to save changes first-->
   <ion-button  slot="end">
      <ion-icon  name="checkmark"></ion-icon>
    </ion-button>
    <ion-title>Discount</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <ion-list>
        <ion-radio-group>
          <ion-list-header>
            <ion-label>Discount</ion-label>
          </ion-list-header>
      
          <ion-item>
            <ion-label>Code</ion-label>
            <ion-radio slot="end" value="code" checked></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Cash</ion-label>
            <ion-radio slot="end" value="griff"></ion-radio>
          </ion-item>
      
          <ion-item>
            <ion-label>Percent</ion-label>
            <ion-radio slot="end" value="buford"></ion-radio>
          </ion-item>
        </ion-radio-group>
      </ion-list>

      <ion-card>
          <ion-item>
              <ion-label position="floating">Discount</ion-label>
              <ion-input type="text" autofocus></ion-input>
            </ion-item>
      </ion-card> 

</ion-content>
